/* Contenedor principal */
.unauthorized-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8d7da;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  /* Título */
  .error-title {
    font-size: 3rem;
    color: #721c24;
    margin-bottom: 20px;
  }
  
  /* Mensaje */
  .error-message {
    font-size: 1.5rem;
    color: #721c24;
    margin-bottom: 40px;
    max-width: 600px;
  }
  
  /* Botón */
  .btn-back {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover efecto para el botón */
  .btn-back:hover {
    background-color: #c82333;
  }
  